{{ define "admin.case.update.layout" }} 

{{ template "navbar" . }} 
{{ template "admin.case.update.content" . }} 
{{ template "footer" . }} 

{{ end }} 

{{ define "admin.case.update.content" }}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Update Case </title>
</head>

<body>

    <h1> Update Case </h1>

    <form action="/admin/cases/update" method="POST">
        {{ $dt := .CaseCreation.Format "2006 Jan 02" }}
        <input type="text" name="id" readonly placeholder="ID" value="{{ .ID }}" />
        <br><br>
        <input type="text" name="case_num" readonly placeholder="Case Title" value="{{ .CaseNum }}" />
        <br><br>
        <input type="text" name="case_title" required placeholder="Case Title" value="{{ .CaseTitle }}"/>
        <br><br>
        <textarea name="case_desc" required placeholder="Case Description" cols="30" rows="20">{{ .CaseDesc }}</textarea>
        <br><br>
        <input type="text" name="case_type" readonly placeholder="Case Title" value="{{ .CaseType }}"/>
        <br><br>
        <input type="date" readonly name="case_creation" value="{{ $dt }}" placeholder="2020-01-05">
        <br><br>
        <input type="date" required name="court_date" value="{{ $dt }}" placeholder="2020-01-05">
        <br><br>
        <input type="text" required name="case_judge" value="{{ .CaseJudge }}">
        <br><br>
        <button type="submit"> Update Case </button>
    </form>

</body>

</html>
{{ end }}