{{ define "admin.newcase.layout" }} 

{{ template "navbar" . }} 
{{ template "admin.newcase.content" . }} 
{{ template "footer" . }} 

{{ end }} 

{{ define "admin.newcase.content" }}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Create New Case </title>
</head>

<body>

    <h1> New Case </h1>

    <form action="/admin/cases/new" method="POST">
        <input type="text" name="case_title" required placeholder="Case Title" />
        <br><br>
        <textarea name="case_desc" required placeholder="Case Description" cols="30" rows="20"></textarea>
        <br><br>
        <label for="case_type"> Case Type </label>
        <select class="case_type" name="case_type" required>
            <optgroup label="Case Type">
                <option value="Criminal" selected>Criminal</option>
                <option value="Civil">Civil</option>
            </optgroup>
        </select>
        <br><br>
        <input type="date" required name="court_date">
        <br><br>
        <label for="case_judge"> Choose Judge </label>
        <select class="case_judge" name="case_judge" required>
            <optgroup label="Case Judge">
                <option value="JU1" selected>JU1</option>
                <option value="JU2">JU2</option>
            </optgroup>
        </select>
        <br><br>
        <button type="submit"> Create Case </button>
        <button type="reset"> Reset </button>
    </form>

</body>

</html>
{{ end }}