

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Post Notification Page </title>
    <!-- <link rel="stylesheet" href="../css/new_judge_style.css"> -->
    <link rel="stylesheet" href="../assets/css/admin_postnotification.css">
  </head>
  <body>

    <div class="wrapper">
      <form class="my_form" action="/admin/notification/new" method="post" enctype="multipart/form-data">
          <h1> Post Notification </h1>
          <input class="inp" type="text" name="not_title" value="" placeholder="Notification Title">
          <input class="inp" type="text" name="not_desc" value="" placeholder="Notification Description"><br>
          <select class="combo_style" name="not_level">
            <option value="all"> For All </option>
            <option value="judges"> Only Judges </option>
            <option value="opponents"> Only Opponents </option>
          </select><br>
          <input class="btn" type="submit" name="submit" value="Post Notification">
          <input class="btn" type="reset" name="reset" value="Cancel">

      </form>
    </div>

  </body>
</html>
