{{ define "admin.newjudge.layout" }} 

{{ template "navbar" . }} 
{{ template "admin.newjudge.content" . }} 
{{ template "footer" . }} 

{{ end }} 

{{ define "admin.newjudge.content" }}
<style>
    .form-newcase {
        width: 100%;
        max-width: 500px;
        padding: 15px;
    }

    .form-newcase .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
        margin: 10px;
    }
</style>
<body background="../assets/img/all_bg.jpg">
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Create New Judge</h2>
    </div>

    <form form class="form-newcase"  action="/admin/judge/new" method="POST" enctype="multipart/form-data">
        <div class="col-auto">
            <label for="judge_name" class='col-form-label'> Judge FullName </label>
            <input type="text" class='form-control' id='judge_name' required name="judge_name" placeholder="Judge Name">
        </div>
        <div class="col-auto">
            <label for="judge_gender" class='col-form-label'> Gender </label>
            <select class='form-control' id='judge_gender' required name="judge_gender">
                <optgroup label="Gender">
                    <option value="m" selected> Male </option>
                    <option value="f"> Female </option>
                </optgroup>
            </select>
        </div>
        <div class="col-auto">
            <label for="judge_address" class='col-form-label'> Judge Address </label>
            <textarea id='judge_address' class='form-control' name="judge_address" cols="30" rows="6" placeholder="Judge Address"></textarea>
        </div>
        <div class="col-auto">
            <label for="judge_phone" class='col-form-label'> Judge Phone </label>
            <input type="text" class='form-control' id='judge_phone' required name="judge_phone" placeholder="Phone Number (+251)">
        </div>
        <div class="col-auto">
            <label for="judge_type" class='col-form-label'> Judge Type </label>
            <select id='judge_type' class='form-control' required name="judge_type">
                <optgroup label="Judge Type">
                    <option value="criminal" selected> Criminal </option>
                    <option value="civil"> Civil </option>
                </optgroup>
            </select>
        </div>
        <div class="col-auto">
            <label for="judge_photo" class='col-form-label'> Judge Type </label>
            <input type="file" class='form-control' id='judge_photo' name="judge_photo" required>
        </div>
        <div class="col-auto">
            <button type="submit" class='btn btn-primary form-control'> Create Judge </button>
            <button type="reset" class='btn btn-warning form-control'> Reset </button>
        </div>
    </form>

</main>
</body>
{{ end }}