{{ define "admin.home.layout" }} 

{{ template "navbar" . }} 
{{ template "admin.home.content" . }} 
{{ template "footer" . }} 

{{ end }} 

{{ define "admin.home.content" }}
<body background="../assets/img/all_bg.jpg">
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Admin Home</h2>
    </div>
    <h3> ID: {{ . }} </h3>
    
    <div class="row">
        <div class="col-sm-3">
            <h5> <a href="/admin/cases" class="btn btn-primary"> View Case </a> </h5>
        </div>
        <div class="col-sm-3">
            <h5> <a href="/admin/cases/new" class="btn btn-primary"> Create New Case </a> </h5>
        </div>
        <div class="col-sm-3">
            <h5> <a href="/admin/judge/new" class="btn btn-primary"> Create New Judge </a> </h5>
        </div>
        <div class="col-sm-3">
            <h5> <a href="/user/changepwd?id={{ . }}" class="btn btn-primary"> Change Password </a> </h5>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <h5> <a href="/admin/report" class="btn btn-primary"> View Court Report </a> </h5>
        </div>
        <div class="col-sm-3">
            <h5> <a href="/admin/notifications" class="btn btn-primary"> Notifications </a> </h5>
        </div>
        <div class="col-sm-3">
            <h5> <a href="/v1/adminSearch" class="btn btn-primary"> Search </a> </h5>
        </div>
        <div class="col-sm-3">
            <h5> <a href="/logout" class="btn btn-warning"> Logout </a> </h5>
        </div>
    </div>
    <br>
        


</main>
</body>
{{ end }}
