<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login_page</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>
    <h1 class="text-center">LOGIN Page</h1>
    <div>
        <form>
            <input class="form-control" type="text" name="user_id" required="" placeholder="User ID" maxlength="10" minlength="3">
            <input class="form-control" type="password" name="user_pwd" required="" placeholder="Password" maxlength="20" minlength="6">
            <button class="btn btn-primary" type="submit">LOGIN </button>
            <button class="btn btn-warning" type="reset">Reset </button>
        </form>
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>