{{ define "judge.home.layout" }} 

{{ template "navbar" . }} 
{{ template "judge.home.content" . }} 
{{ template "footer" . }} 

{{ end }} 

{{ define "judge.home.content" }}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Judge Home Page</title>
</head>

<body>

    <h1> Judge Page </h1>
    <h3> Judge ID: {{ .JudgeId }} </h3>
    <ul>
        <li> <a href="/judge/cases/close?id={{ .JudgeId }}"> Close Case </a> </li>
        <li> <a href="/user/changepwd?id={{ .JudgeId }}"> Change Password </a> </li>
        <li> <a href="/judge/notifications?id={{ .JudgeId }}"> View Notification </a> </li>
        <li> <a href="#"> View Self Report </a> </li>
        <li> <a href="#"> Search </a> </li>
    </ul>

</body>

</html>
{{ end }}