{{ define "judge.home.layout" }} 

{{ template "allheader.navbar" . }} 
{{ template "judge.home.content" . }} 
{{ template "footer" . }} 

{{ end }} 

{{ define "judge.home.content" }}
<body background="../assets/img/all_bg.jpg">
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Judge Home</h2>
    </div>
    <h3> ID: {{ .JudgeId }} </h3>

    <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="../assets/user_imgs/{{ .JudgePhoto }}" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Welcome to the Judge Page </p>
            <p class="card-text">ID: {{ .JudgeId }}</p>
        </div>
    </div>
<br>
    <div class="row">
        <div class="col-sm-3">
            <h5> <a href="/judge/cases/close?id={{ .JudgeId }}" class="btn btn-primary"> Close Case </a> </h5>
        </div>
        <div class="col-sm-3">
            <h5> <a href="/user/changepwd?id={{ .JudgeId }}" class="btn btn-primary"> Change Password </a> </h5>
        </div>
        <div class="col-sm-3">
            <h5> <a href="/judge/notifications?id={{ .JudgeId }}" class="btn btn-primary"> View Notification </a> </h5>
        </div>
        
    </div>

</main>
</body>
{{ end }}