{{ define "login.layout" }}

{{ template "navbar" . }}
{{ template "login.content" . }}
{{ template "footer" . }}

{{ end }}

{{ define "login.content" }}
<style>
    .form-signin {
        width: 100%;
        max-width: 400px;
        padding: 15px;
    }

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
        margin: 10px;
    }
</style>
<div class="container">
    <form class="form-signin" method="POST" action="/login">
        <h3 class="h3 mb-3 font-weight-normal">Please sign in</h3>
        <input type="hidden" name="_csrf" value="{{ .CSRF }}" />
        {{with .VErrors.Get "generic" }}
        <label class="text-danger">{{ . }}</label>
        {{end}}
        <div class="col-auto">
            <label for="user_id" class="col-form-label">User ID</label>
            <input type="text" id="user_id" name="user_id" value='{{ .Values.Get "email" }}' class="form-control" placeholder="User ID" required autofocus>
        </div>
        <div class="col-auto">
            <label for="password" class="col-form-label">Password</label>
            <input type="password" id="password" name="user_pwd" class="form-control" placeholder="Password" required>
        </div>
        <button class="btn btn-lg btn-primary btn-block form-control" type="submit">LOGIN</button>
        <button class="btn btn-lg btn-warning btn-block form-control" type="reset">Reset</button>
    </form>

    <div class="col-auto">
        <h5><a href="/courtCreate"> Create Court </a></h5>
    </div>
</div>
{{ end }}