{{ define "navbar" }}

<head>
    <title>Court Case Manegment System</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        
        <div class="row">
            <div class="col-12">
                <a class="navbar-brand" href="/">COURT CASE MANAGMENT</a>
            </div>
            <div class="col-3">
                <h5><a href="/courtcreate" class="btn btn-secondary"> Create Court </a></h5>
            </div>
            <div class="col-4">
                <h5><a href="/admincreate" class="btn btn-secondary"> Create Admin </a></h5>
            </div>
        </div>
    </nav>
</body>
{{ end }}

