{{ define "opponent.home.layout" }} 

{{ template "allheader.navbar" . }} 
{{ template "opponent.home.content" . }} 
{{ template "footer" . }} 

{{ end }} 

{{ define "opponent.home.content" }}
<body background="../assets/img/all_bg.jpg">
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>{{ .OppType }} Home Page</h2>
    </div>
    <h3> ID: {{ .OppId }} </h3>

    <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="../assets/user_imgs/{{ .OppPhoto }}" alt="Card image cap">
        <div class="card-body">
            <p class="card-text">Welcome to the {{ .OppType }} Page </p>
            <p class="card-text">ID: {{ .OppId }}</p>
        </div>
    </div>
<br>
    <div class="row">
        <div class="col-sm-3">
            <h5> <a href="/admin/oppAppeal?id={{ .OppId }}" class="btn btn-primary"> Appeal on Case </a> </h5>
        </div>
        <div class="col-sm-3">
            <h5> <a href="/user/changepwd?id={{ .OppId }}" class="btn btn-primary"> Change Password </a> </h5>
        </div>
        <div class="col-sm-3">
            <h5> <a href="/opponent/notifications?id={{ .OppId }}" class="btn btn-primary"> View Notification </a> </h5>
        </div>
    </div>
<br>
    <h4>Appeal on a Case</h4>
        <form class="form-inline" method="get" action="/admin/oppAppeal">
            <label for="opp_appeal" class="col-sm-2 col-form-label">Opponent ID: </label>
            <input type="text" class="col-sm-2 form-control" name="opp_appeal" id="opp_appeal" value="{{ .OppId }}" readonly placeholder="Your ID here"><br>
            <button type="submit" class="btn btn-warning">GET APPEAL FORM</button>
        </form>

</body>

</html>
{{ end }}