{{ define "opponent.home.layout" }} 

{{ template "navbar" . }} 
{{ template "opponent.home.content" . }} 
{{ template "footer" . }} 

{{ end }} 

{{ define "opponent.home.content" }}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Home Page</title>
</head>

<body>

    <h1> Opponent Page </h1>
    <h3> Opponent ID: {{ .OppId }} </h3>
    <ul>
        <li> <a href="/admin/oppAppeal?id={{ .OppId }}"> Appeal on Case </a> </li>
        <li> <a href="/pwdchange"> Change Password </a> </li>
        <li> <a href="/opponent/notifications?id={{ .OppId }}"> View Notification </a> </li>
        <li> <a href="#"> View Case Report </a> </li>
    </ul>

    <h4>APPEAL ON CASE</h4>
        <form class="form-inline" method="get" action="/admin/oppAppeal">
            <label for="id" class="col-sm-2 col-form-label">YOUR OPP ID </label>
            <input type="text" class="col-sm-2 form-control" name="opp_appeal" id="opp_appeal" value="1" placeholder="YOUR OPP ID">
            <button type="submit" class="btn btn-primary">GET APPEAL FORM</button>
        </form>

</body>

</html>
{{ end }}