{{ define "opponent.notifications.update.layout" }} 

{{ template "allheader.navbar" . }} 
{{ template "opponent.notifications.update.content" . }} 
{{ template "footer" . }} 

{{ end }} 

{{ define "opponent.notifications.update.content" }}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h2>Notifications</h2>
    </div>
   
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Role Number</th>
            <th scope="col">Notf_Title</th>
            <th scope="col">Notf_Description</th>
            <th scope="col">Notf_Level</th>
            <th scope="col">Notf_Date</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            
          <tr>
            <th scope="row"> {{ .ID }} </th>
            <td> {{ .NotTitle }} </td>
            <td> {{ .NotDescription}} </td>
            <td>{{ .NotLevel}} </td>
            <td>{{ .NotDate}} </td>

           
          </tr>
         
          </tbody>
          </table>
</main>

{{ end }}